---
import type { Ingredient } from "~/types.js";
import { href } from "~/util.js";

interface Props {
  title: string;
  author?: string | undefined;
  slug: string;
  ingredients: Ingredient[];
}

const { title, author, slug, ingredients } = Astro.props;

const ingredientString = ingredients.map((i) => i.name).join(", ");
---

<a
  class="h-52 py-3 border border-cozy-red-500/20 shadow-md bg-cozy-beige-200 hover:bg-cozy-beige-100 focus-visible:bg-cozy-beige-100 text-cozy-beige-200 hover:text-cozy-beige-100 focus-visible:text-cozy-beige-100 shadow-cozy-brown-700/20 cursor-pointer"
  href={href(slug)}
>
  <h3
    class="ribbon relative w-10/12 p-1 pl-3 -ml-2 text-lg text-inherit font-bold truncate bg-cozy-red-500 rounded-r-lg rounded-t-lg shadow-sm shadow-cozy-red-500/75"
    title={title}
  >
    {title}
  </h3>
  <p class="ml-3 mt-1 italic text-black">
    {
      author ? (
        <>
          <strong>{author}</strong>
          <span> receptje</span>
        </>
      ) : (
        <>&nbsp;</>
      )
    }
  </p>
  <p class="m-3 max-4-lines text-black">
    {ingredientString}
  </p>
</a>

<style>
  .max-4-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .ribbon {
    overflow: visible;
  }

  .ribbon::before {
    content: "";
    position: absolute;
    width: 0.5rem;
    left: 0;
    bottom: -5px;
    height: 5px;
    border-bottom-left-radius: 0.5rem;
    background-color: #603029;
  }
</style>
