---
import {
  parseIngredients,
  isIngredientList,
  isIngredientGroups,
  Ingredients,
} from "../ingredients.js";
import MainLayout from "./Main.astro";
import IngredientList from "~/components/IngredientList.astro";
import IngredientGroups from "~/components/IngredientGroups.astro";
import SearchButton from "~/components/SearchButton.svelte";
import AddToShoppingListButton from "~/components/shopping-list/AddToButton.svelte";
import GoToShoppingListButton from "~/components/shopping-list/GoToButton.svelte";

const slug = Astro.url.pathname.split('/').at(-1);

type UncheckedFrontmatter = {
  title?: string;
  author?: string;
  draft?: boolean;
  ingredients?: string;
  file: string;
  url: string;
};

type Frontmatter = {
  title: string;
  author?: string | undefined;
  draft?: boolean | undefined;
  ingredients: Ingredients;
  url: string;
};

const fm = validateFrontmatter(Astro.props.frontmatter as UncheckedFrontmatter);

function validateFrontmatter(fm: UncheckedFrontmatter): Frontmatter {
  if (!fm.title) {
    throw new Error(`title missing`);
  }

  if (!fm.ingredients) {
    throw new Error(`ingredient list missing`);
  }

  // Last entry is always an empty line
  const ingredients = parseIngredients(fm.ingredients);

  return {
    title: fm.title,
    author: fm.author,
    draft: fm.draft,
    ingredients,
    url: fm.url,
  };
}
---

<MainLayout title={fm.title}>
  <GoToShoppingListButton slot="actions" client:load />
  <SearchButton slot="actions" client:load />
  <article
    class="relative lg:grid lg:grid-cols-[0.75fr_1.25fr_0.5fr] xl:grid-cols-[0.75fr_1fr_0.75fr] gap-2 p-2"
  >
    <h1 class="w-full max-w-xl mx-auto p-2 text-3xl font-bold col-start-2">
      {fm.title}
      {fm.draft && "(nincs kész)"}
    </h1>
    <section
      class="flex flex-col justify-self-end col-start-1 p-2 lg:pl-6 lg:sticky top-14 max-w-xl mx-auto lg:w-96 lg:max-h-[calc(100vh_-_64px)] lg:mr-0 overflow-hidden"
    >
      <h3 class="text-lg font-bold flex items-center gap-2">Hozzávalók </h3>
      <div class="flex-shrink overflow-auto">
        {isIngredientList(fm.ingredients) && <IngredientList ingredients={fm.ingredients.list} />}
        {isIngredientGroups(fm.ingredients) && <IngredientGroups groups={fm.ingredients.groups} />}
        <AddToShoppingListButton 
          client:load
          recipeName={fm.title}
          ingredients={fm.ingredients}
          slug={slug}
        />
      </div>
    </section>
    <section class="col-start-2 w-full mx-auto max-w-xl p-2">
      <h3 class="text-lg font-bold">Elkészítés</h3>
      <slot />
    </section>
  </article>
</MainLayout>

<style is:global>
  p {
    margin-bottom: 0.5rem;
  }
</style>
